@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #050505;
  color: #ffffff;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  background-color: #050505;
  cursor: none;
  /* Hide default cursor */
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff5722;
}

/* Selection Color */
::selection {
  background: #ff5722;
  color: #fff;
}